body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

form {
    max-width: 500px;
    margin: auto;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

/* Botón de Enviar */
form button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

form button:hover {
    background-color: #45a049;
}

/* Botón de Volver */
.volver-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: auto;
}

.volver-btn:hover {
    background-color: #45a049;
}

h2, p {
    text-align: center;
    color: #333;
}
